@model FileManagerInMVC.Web.Models.FileViewModel
@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="row">
    <div class="col-md-12">
        @Html.Partial("FilesForm", Model)

    </div>
</div>