@model FileManagerInMVC.Web.Models.FileViewModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-12">
        <!-- Call the view of the file manager -->
        @Html.Partial("FilesForm", Model)
    </div>
</div>